/* Style Sheet for Reminders With Friends News Tab (Hosted on Tumblr)
-------------------------------------------------- */

body {
  background-image: url('http://www.slyceapps.com/images/background.png');
  background-repeat: repeat repeat;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

a {
	font-weight: bold;
}

.entry {
	margin: 10px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
}

.post-title {
	padding-top: 5px;
	margin-left: -10px;
	text-align: center;
	color: rgba(0,0,0,0.7);
	text-shadow: 0px 1px 0px rgba(0,0,0, 0.3);
}

.blue-emphasized {
	color: rgba(35,97,246,1.0);
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255,255,255, 1.0);
}

.date {
	margin-bottom: -20px;
	color: rgba(0,0,0,0.75);
}

.date p {
	font-size: 10px;
}

.void {
	font-size: 11px;
	font-weight: italic;
}